[user]
	name = Jean-Christophe Sirot
	email = jcsirot@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pushf = push --force-with-lease
[core]
	excludesfile = /Users/jcsirot/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jcsirot/.stCommitMsg
